body {
    background-image: url('../../Content/Images/LifeMatchBackground1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.center_div {
    background: #FFFFFF;
    margin: 0 auto;
    width: 60%; /* value of your choice which suits your alignment */
    border-radius: 8px;
    padding: 20px;
}

h1 {
    color: #F90B6D;
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    font-weight: 300;
    line-height: 40px;
    margin: 0 0 16px;
}

h2 {
    color: #F90B6D;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 0 14px;
}

p {
    color: #222;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 14px;
}

select {
    text-align: center !important;
}