body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-image: url('Images/datingBackGround.PNG');
    background-repeat: no-repeat;
    background-size: cover;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/*-------------------------------------------------------------------------*/

h2 {
    color: #FFFAFA;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 0 14px;
}

/* ---------------------modal----------------------- */

.modal-content {
    background: #FFFFFF;
}

.modal p {
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
}

.modal-body .row .col-md-3 {
    text-align: center;
}

.modal-body .row {
    text-align: center;
    padding: 20px;
}

.modal-body .form-control {
    width: 80%;
}

.modal-body .row .col-sm-8 .form-control{
    width: 100%;
    padding: 20px;
}

.modal-body .row .col-md-4 {
    text-align: center;
    padding: 10px;
}

.modal-body button {
    width: 80%;
}

.modal-body .col-md-3 {
    padding: 3px;
}

.center_div {
    background: #FFFFFF;
    margin: 0 auto;
    width: 40%;
    padding: 20px;
}

.transparent {
    opacity: 0.5;
}

.modal-header {
    background: #4682B4;
    text-align: center;
}

.modal input {
    font-size:24px;
}

.modal select {
    font-size:17px;
}

.modal textarea {
    height: 150px;
    font-size:22px;
}
