<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="~/Scripts/WelcomePage.js"></script>


<html ng-app="WelcomePage">

<head>
</head>

<body>

    <div ng-controller="WelcomePageController">

        <div>
            <h2>{{test}}</h2>
        </div>

        <button ng-click="redirectToSearchMatch()">Redirect To SearchMatch</button>

    </div>

</body>

</html>