<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="~/Scripts/SearchMatch.js"></script>
<link href="~/Content/SearchMatch.css" rel="stylesheet" />">

<html ng-app="SearchMatch">

<head>
</head>

<body>

    <br />
    <br />

    <div class="container center_div" ng-controller="SearchMatchController">

        <div class="row">
            <div class="col-sm-12"><h2>About you :</h2></div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <p>Name or nickname:</p>
            </div>
            <div class="col-sm-8">
                <input class="form-control" ng-model="name">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4">
                <p>I am a:</p>
            </div>
            <div class="col-sm-8">
                <select class="form-control" ng-model="selectedGender" ng-options="x for x in genders"></select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4">
                <p>Birthday:</p>
            </div>
            <div class="col-sm-8">
                <select class="form-control" ng-model="selectedMonth" ng-options="x for x in months"></select>
                <select class="form-control col-sm-4" ng-model="selectedDay" ng-options="x for x in days"></select>
                <select class="form-control col-sm-4" ng-model="selectedYear" ng-options="x for x in years"></select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4">
                <p>Country:</p>
            </div>
            <div class="col-sm-8">
                <input class="form-control" ng-model="country">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4">
                <p>City:</p>
            </div>
            <div class="col-sm-8">
                <input class="form-control" ng-model="city">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4">
                <p>Some interesting details<br />about you:</p>
            </div>
            <div class="col-sm-8">
                <textarea class="form-control" ng-model="aboutMe"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12"><h2>About your ideal partner:</h2></div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <p>I am a:
                <p />
            </div>
            <div class="col-sm-8">
                <select class="form-control" ng-model="selectedRelation" ng-options="x for x in relations"></select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4">
                <p>Between ages:<p />
            </div>
            <div class="col-sm-8">
                <select class="form-control" ng-model="agesStart" ng-options="x for x in ages"></select>
                and <select class="form-control" ng-model="agesEnd" ng-options="x for x in ages"></select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4">
                <p>Few words about your<br />ideal partner:<p />
            </div>
            <div class="col-sm-8">
                <textarea class="form-control" ng-model="aboutPartner"></textarea>
            </div>
        </div>

        <br />
        <br />

        <div class="row">
            <div class="col-sm-4 col-sm-offset-5"><button class="btn btn-primary" ng-click="register()">Register</button></div>
        </div>

        <div ng-show="showMessage">
            <h3>
                Calling server for {{name}} gender : {{selectedGender}} DoB: {{selectedMonth}}-{{selectedDay}}-{{selectedYear}}
                from: {{city}}, {{country}} {{aboutMe}} {{selectedRelation}} {{agesStart}} {{agesEnd}} {{aboutPartner}}"
            </h3>
        </div>

    </div> <!-- container end-->

</body>

</html>