<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="~/Scripts/SearchMatch.js"></script>

<html ng-app="SearchMatch">

<head>
</head>

<body>

<p>Search your soul mate NOW!</p>

</body>

</html>